* {
  font-family: 'Permanent Marker', cursive;
}

html {
  background-color: #121212;
}

/* Navbar styles */

h1 {
  font-size: 52px;
  z-index: 1;
  color: white;
  background: url("data:image/svg+xml;charset=utf8,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' width='1px' height='1px' viewBox='0 0 1 1' preserveAspectRatio='none'%3E%3Crect x='0' y='0' width='1' height='1' fill='hotpink' /%3E%3C/svg%3E") no-repeat 100% 100%;
  background-size: 70% 30%;
  background-position: 50% 90%;
  transition: background-size 200ms ease-in-out;
}

h1:hover {
  background-size: 40% 30%;
}

/* Header styles */

h2 {
  color: white;
}

.find-header {
  display: grid;
  justify-items: center;
}

.header-button {
  font-size: 18px;
  border: 1px solid white;
  width: 125px;
  border-radius: 5px;
  color: white;
  background-color: #282c34;
  padding: 5px 10px;
  margin: 20px 0 !important;
  cursor: pointer;
  transition: background-color 200ms ease-in-out, transform 200ms ease-in-out;
}

.header-button:hover {
  transform: translateX(2%) translateY(-2%);
  background-color: #a0b1d2;
  box-shadow: -2px 2px 5px #ccc;
}

.header-button:active {
  transform: translateX(0%) translateY(0%);
  background-color: #282c34;
  box-shadow: none;
}

.movie {
  background: url("data:image/svg+xml;charset=utf8,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' width='1px' height='1px' viewBox='0 0 1 1' preserveAspectRatio='none'%3E%3Crect x='0' y='0' width='1' height='1' fill='orange' /%3E%3C/svg%3E") no-repeat 100% 100%;
  background-size: 100% 30%;
  background-position: 50% 90%;
  transition: background-size 200ms ease-in-out;
}

.show {
  background: url("data:image/svg+xml;charset=utf8,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' width='1px' height='1px' viewBox='0 0 1 1' preserveAspectRatio='none'%3E%3Crect x='0' y='0' width='1' height='1' fill='orangered' /%3E%3C/svg%3E") no-repeat 100% 100%;
  background-size: 100% 30%;
  background-position: 50% 90%;
  transition: background-size 200ms ease-in-out;
}

.movie:hover, .show:hover {
  background-size: 60% 30%;
}

/* Form styles */

.form-button {
  font-size: 18px;
  border: 1px solid white;
  width: 125px;
  border-radius: 5px;
  color: white;
  background-color: #282c34;
  padding: 5px 10px;
  margin: 20px 0 !important;
  cursor: pointer;
  transition: background-color 200ms ease-in-out, transform 200ms ease-in-out;
}

.form-button:hover {
  transform: translateX(2%) translateY(-2%);
  background-color: #a0b1d2;
  box-shadow: -2px 2px 5px #ccc;
}

.form-button:active {
  transform: translateX(0%) translateY(0%);
  background-color: #282c34;
  box-shadow: none;
}